<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Toggle Footer</title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="AppCtrl">
    <ion-content padding="true" ng-class="{'has-footer': showFooter}">
      <button ng-click="toggleFooter()" class="button button-assertive">Toggle Footer</button>
      </ion-content>
    <ion-footer-bar class="bar-assertive" ng-if="showFooter">
    </ion-footer-bar>
  </body>
</html>