<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
  </div>
  <h1 class="title">Ionic Example Popover</h1>
  <div class="buttons">
  </div>
</ion-header-bar>
<ion-content class="padding has-subheader">
<a ui-sref="popover" class="button button-positive">Go to popover example</a><br><br>
<a ui-sref="actionSheet" class="button button-positive">Go to Action Sheet Example</a><br><br>
<a ui-sref="modal" class="button button-positive">Go to Modal Example</a>

</ion-content>
